.rocket{
  margin-top: 150px;
  margin-bottom: 50px;
}
.stage1 {
  position: absolute;
  background-color: black;
  width: 10px;
  height: 150px;
  margin-left: 100px;
  margin-top: 100px; 
  z-index: -100;
}
.engine {
  position: relative;
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 20px solid black;
  margin-left: 100px;
  margin-top: -150px;
}
.coupler{
  position: relative;
  width: 10px;
  height: 20px;
  background: black;
  margin-left: 100px;
  margin-top: -35px;
}
.middle {
  position: relative;
  width: 30px;
  height: 35px;
  background: black;
  margin-left: 90px;
  margin-top: -65px;
}
.triangle-left {
  position: relative;
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid black;
  margin-left: 90px;
}
.triangle-right {
  position: relative;
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid black;
  margin-left: 101px;
  margin-top: -10px;
}
.cross {
  position: relative;
  width: 10px;
  height: 10px;
  background: black;
  margin-left: 100px;
  margin-top: -9px;
}
.ferring-top {
  position: relative;
  border-radius: 100%;
  width:30px;
  height: 70px;
  background: black;
  margin-left: 90px;
  margin-top: -80px;
}
.stage2 {
  position: absolute;
  padding-top: -20px;
  margin-left: 0px;
  z-index: 500;
  animation-name: stage2;
  animation-duration: 1s;
}
@keyframes stage2 {
    0%   {padding-top: 0px;}
    1%   {padding-top: 245px;}
    10%  {padding-top: 219.5px;}
    20%  {padding-top: 195px;}
    30%  {padding-top: 170.5px;}
    40%  {padding-top: 146px;}
    50%  {padding-top: 121.5px;}
    60%  {padding-top: 97px;}
    70%  {padding-top: 72.5px;}
    80%  {padding-top: 48px;}
    90%  {padding-top: 23.5px;}
    100% {padding-top: 0px;}
}